@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -25%;
        left: 0;
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
    }
}

@mixin section_title {
    text-align: center;
    position: relative;
    @include before_circle;
    &:before {
        top: -6px;
        left: 50%;
        transform: translateX(-50%);
    }
}